In [2]:
import pandas as pd
import numpy as np

In [3]:
autos =  pd.read_csv('autos.csv', encoding='latin1')

In [4]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
autos = autos.rename(columns={'yearOfRegistration':'registration_year','monthOfRegistration':'registration_month',
'notRepairedDamage':'unrepaired_damage','dateCreated':'ad_created', 'nrOfPictures':'num_photos','dateCrawled':'date_crawled',
                              'dateCreated':'ad_created',
                              'lastSeen':'last_seen'})

For future manipulations and comfortable work with the dataframe, we renamed the necessary columns in the snake case style.

In [6]:
autos.select_dtypes(include=['object', 'category']).describe()

,date_crawled,name,seller,offerType,price,abtest,vehicleType,gearbox,model,odometer,fuelType,brand,unrepaired_damage,ad_created,last_seen
count,50000,50000,50000,50000,50000,50000,44905,47320,47242,50000,45518,50000,40171,50000,50000
unique,48213,38754,2,2,2357,2,8,2,245,13,7,40,2,76,39481
top,2016-03-19 17:36:18,Ford_Fiesta,privat,Angebot,$0,test,limousine,manuell,golf,"150,000km",benzin,volkswagen,nein,2016-04-03 00:00:00,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,36993,4024,32424,30107,10687,35232,1946,8

In [7]:
autos.select_dtypes(include=['number']).describe()

,registration_year,powerPS,registration_month,num_photos,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

1. seller  column       
2. offerType column
---  most likely do not contain a unique date
3. Looks like  on each row in  column  num_photos the actual value is  0

In [8]:

print(autos['price'].dtype)

object

In [9]:
autos['price'] = autos['price'].str.replace('$','')
autos['price'] = autos['price'].str.replace(',','')
autos['price'] = autos['price'].str.strip()

In [10]:
autos['price'] = autos['price'].astype('int')

In [11]:
autos['odometer'] = autos['odometer'].str.replace('km','')
autos['odometer'] = autos['odometer'].str.replace(',','.')

In [12]:
autos['odometer'] = autos['odometer'].astype('float')

In [13]:
autos = autos.rename(columns={'odometer':'odometer_km'})

In [14]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [15]:
autos['odometer_km'].describe()

count    50000.000000
mean       125.732700
std         40.042212
min          5.000000
25%        125.000000
50%        150.000000
75%        150.000000
max        150.000000
Name: odometer_km, dtype: float64

In [16]:
autos['price'].unique().shape

(2357,)

In [17]:
autos['odometer_km'].unique().shape

(13,)

In [18]:
p_c = autos['price'].value_counts().sort_index(ascending = True)

In [19]:
print(p_c)

price
0           1421
1            156
2              3
3              1
5              2
            ...
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: count, Length: 2357, dtype: int64

In [20]:
o_c = autos['odometer_km'].value_counts().sort_index(ascending = True)

print(o_c)

odometer_km
5.0        967
10.0       264
20.0       784
30.0       789
40.0       819
50.0      1027
60.0      1164
70.0      1230
80.0      1436
90.0      1757
100.0     2169
125.0     5170
150.0    32424
Name: count, dtype: int64

In [21]:
autos = autos.drop(autos[autos["price"].between(10000000,99999999 )].index)

In [22]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [23]:
autos['date_crawled'].value_counts(normalize=True, dropna=False).sort_index()

date_crawled
2016-03-05 14:06:30    0.00002
2016-03-05 14:06:40    0.00002
2016-03-05 14:07:04    0.00002
2016-03-05 14:07:08    0.00002
2016-03-05 14:07:21    0.00002
                        ...
2016-04-07 14:30:09    0.00002
2016-04-07 14:30:26    0.00002
2016-04-07 14:36:44    0.00002
2016-04-07 14:36:55    0.00002
2016-04-07 14:36:56    0.00002
Name: proportion, Length: 48206, dtype: float64

In [24]:
autos['last_seen'].value_counts(normalize=True, dropna=False).sort_index()

last_seen
2016-03-05 14:45:46    0.00002
2016-03-05 14:46:02    0.00002
2016-03-05 14:49:34    0.00002
2016-03-05 15:16:11    0.00002
2016-03-05 15:16:47    0.00002
                        ...
2016-04-07 14:58:44    0.00006
2016-04-07 14:58:45    0.00002
2016-04-07 14:58:46    0.00002
2016-04-07 14:58:48    0.00006
2016-04-07 14:58:50    0.00008
Name: proportion, Length: 39477, dtype: float64

In [25]:
autos['ad_created'].value_counts(normalize=True,dropna=False).sort_index()

ad_created
2015-06-11 00:00:00    0.000020
2015-08-10 00:00:00    0.000020
2015-09-09 00:00:00    0.000020
2015-11-10 00:00:00    0.000020
2015-12-05 00:00:00    0.000020
                         ...
2016-04-03 00:00:00    0.038926
2016-04-04 00:00:00    0.036886
2016-04-05 00:00:00    0.011842
2016-04-06 00:00:00    0.003261
2016-04-07 00:00:00    0.001280
Name: proportion, Length: 76, dtype: float64

Based on my observations, I can say that dates are quite unique, which is evident from the percentage values. And I think it's better when all dates are in the same digital format.

In [26]:
autos['registration_year'].describe()

count    49992.000000
mean      2005.074552
std        105.720930
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

Here you can see that there is incorrect data, for example, the maximum or minimum values are clearly incorrect.

In [27]:
autos = autos[(autos['registration_year'] >= 1900) & (autos['registration_year'] <= 2026)]

In [28]:
autos['registration_year'].describe()

count    49968.000000
mean      2003.367835
std          7.690122
min       1910.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       2019.000000
Name: registration_year, dtype: float64

We have successfully removed incorrect maximum and minimum values and now see correct average and frequent values in the .describe() method.

In [29]:
display(autos)

,date_crawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuelType,brand,unrepaired_damage,ad_created,num_photos,postalCode,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100.0,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150.0,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5.0,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40.0,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150.0,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [30]:
autos['brand'].value_counts()

brand
volkswagen        10681
opel               5457
bmw                5428
mercedes_benz      4731
audi               4283
ford               3478
renault            2404
peugeot            1456
fiat               1307
seat                940
skoda               785
mazda               757
nissan              754
smart               701
citroen             699
toyota              617
sonstige_autos      541
hyundai             488
volvo               456
mini                424
mitsubishi          404
honda               399
kia                 356
alfa_romeo          329
porsche             294
suzuki              293
chevrolet           283
chrysler            181
dacia               129
daihatsu            128
jeep                109
subaru              108
land_rover           99
saab                 79
daewoo               79
jaguar               77
trabant              77
rover                69
lancia               57
lada                 31
Name: count, dtype: int64

In [31]:
top_20_brand_list = autos['brand'].value_counts().index[:20]

For further analysis, I selected the 20 most common brands from our dataset thanks to the value_counts() method.

In [32]:
brand_mean_price_dict = {}
brand_mean_km_dict = {}

In [33]:
for i in top_20_brand_list: 
    filteredbrand = autos[autos['brand']==i]
    avrg_price = filteredbrand['price'].mean()
    #print(avrg_price)
    brand_mean_price_dict[i] = int(avrg_price)
brand_mean_price_dict = dict(sorted(brand_mean_price_dict.items(),key=lambda x:x[1]))
brand_mean_price_dict

{'renault': 2351,
 'fiat': 2697,
 'opel': 2842,
 'peugeot': 3010,
 'smart': 3482,
 'citroen': 3680,
 'ford': 3913,
 'mazda': 3962,
 'seat': 4223,
 'nissan': 4588,
 'volvo': 4685,
 'toyota': 5097,
 'hyundai': 5316,
 'volkswagen': 5345,
 'skoda': 6313,
 'bmw': 8254,
 'mercedes_benz': 8380,
 'audi': 8965,
 'mini': 10392,
 'sonstige_autos': 20154}

Based on the analysis, we can say that although Volkswagen has the most models, it still has a fairly average price on the market, which makes it affordable for the mid-range class.

In [34]:
bmp_series = pd.Series(brand_mean_price_dict )
print(bmp_series)

renault            2351
fiat               2697
opel               2842
peugeot            3010
smart              3482
citroen            3680
ford               3913
mazda              3962
seat               4223
nissan             4588
volvo              4685
toyota             5097
hyundai            5316
volkswagen         5345
skoda              6313
bmw                8254
mercedes_benz      8380
audi               8965
mini              10392
sonstige_autos    20154
dtype: int64

In [35]:
mean_price_df = pd.DataFrame(bmp_series, columns=['mean_price'])
mean_price_df

                mean_price
renault               2351
fiat                  2697
opel                  2842
peugeot               3010
smart                 3482
citroen               3680
ford                  3913
mazda                 3962
seat                  4223
nissan                4588
volvo                 4685
toyota                5097
hyundai               5316
volkswagen            5345
skoda                 6313
bmw                   8254
mercedes_benz         8380
audi                  8965
mini                 10392
sonstige_autos       20154

In [36]:
for i in top_20_brand_list: 
    filteredbrand = autos[autos['brand']==i]
    avrg_km= filteredbrand['odometer_km'].mean()
    #print(avrg_price)
    brand_mean_km_dict[i] = int(avrg_km)
brand_mean_km_dict = dict(sorted(brand_mean_km_dict.items(),key=lambda x:x[1]))
brand_mean_km_dict

{'sonstige_autos': 87,
 'mini': 89,
 'smart': 100,
 'hyundai': 106,
 'skoda': 111,
 'toyota': 115,
 'fiat': 117,
 'nissan': 118,
 'citroen': 120,
 'seat': 122,
 'ford': 124,
 'mazda': 125,
 'peugeot': 127,
 'renault': 128,
 'volkswagen': 129,
 'opel': 129,
 'audi': 129,
 'mercedes_benz': 130,
 'bmw': 132,
 'volvo': 138}

In [37]:
bm_km_series = pd.Series(brand_mean_km_dict )
mean_km_df = pd.DataFrame(bm_km_series, columns=['mean_km'])

In [38]:
mean_km_df

                mean_km
sonstige_autos       87
mini                 89
smart               100
hyundai             106
skoda               111
toyota              115
fiat                117
nissan              118
citroen             120
seat                122
ford                124
mazda               125
peugeot             127
renault             128
volkswagen          129
opel                129
audi                129
mercedes_benz       130
bmw                 132
volvo               138

Based on the mileage analysis, we see that although Volkswagen has an average price, its average mileage is higher than that of cheaper analogues, for example, Fiat.

In [39]:
display(autos)

,date_crawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuelType,brand,unrepaired_damage,ad_created,num_photos,postalCode,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,24900,control,limousine,2011,automatik,239,q5,100.0,1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,1980,control,cabrio,1996,manuell,75,astra,150.0,5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,13200,test,cabrio,2014,automatik,69,500,5.0,11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,22900,control,kombi,2013,manuell,150,a3,40.0,11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,1250,control,limousine,1996,manuell,101,vectra,150.0,1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [42]:
autos['date_crawled'] = autos['date_crawled'].str.replace("-","")

In [43]:
autos['name'].describe()

count           49968
unique          38726
top       Ford_Fiesta
freq               78
Name: name, dtype: object

In [49]:
top = autos['name'].describe().top

In [54]:
top_df = autos[autos['name'] == top].copy()

In [51]:
top_df

,date_crawled,name,seller,offerType,price,abtest,vehicleType,registration_year,gearbox,powerPS,model,odometer_km,registration_month,fuelType,brand,unrepaired_damage,ad_created,num_photos,postalCode,last_seen
1595,20160326 19:51:30,Ford_Fiesta,privat,Angebot,5500,control,kleinwagen,2010,manuell,82,fiesta,150.0,9,benzin,ford,nein,2016-03-26 00:00:00,0,32339,2016-04-02 12:16:32
2148,20160308 17:41:20,Ford_Fiesta,privat,Angebot,950,control,kleinwagen,2001,manuell,69,fiesta,150.0,3,benzin,ford,NaN,2016-03-08 00:00:00,0,66424,2016-03-10 12:46:47
3562,20160307 15:48:09,Ford_Fiesta,privat,Angebot,1650,control,kleinwagen,2004,manuell,80,fiesta,150.0,3,benzin,ford,nein,2016-03-07 00:00:00,0,63697,2016-03-30 21:46:14
4276,20160329 10:57:11,Ford_Fiesta,privat,Angebot,600,control,kleinwagen,2001,manuell,0,fiesta,80.0,3,benzin,ford,nein,2016-03-29 00:00:00,0,19386,2016-03-29 10:57:11
4367,20160325 09:54:44,Ford_Fiesta,privat,Angebot,3200,test,kleinwagen,2004,manuell,69,fiesta,50.0,3,benzin,ford,nein,2016-03-25 00:00:00,0,79618,2016-04-06 08:46:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46197,20160327 21:54:17,Ford_Fiesta,privat,Angebot,700,test,kleinwagen,1995,manuell,50,fiesta,125.0,5,benzin,ford,nein,2016-03-27 00:00:00,0,69469,2016-04-05 21:15:38
47347,20160311 11:54:52,Ford_Fiesta,privat,Angebot,550,control,kleinwagen,1999,manuell,60,fiesta,150.0,8,benzin,ford,nein,2016-03-11 00:00:00,0,41516,2016-03-12 16:18:45
47587,20160317 12:37:22,Ford_Fiesta,privat,Angebot,275,test,kleinwagen,1999,manuell,60,fiesta,150.0,12,benzin,ford,ja,2016-03-17 00:00:00,0,24256,2016-03-17 13:42:21
48600,20160323 00:55:27,Ford_Fiesta,privat,Angebot,5000,test,limousine,2009,manuell,60,fiesta,125.0,10,benzin,ford,nein,2016-03-22 00:00:00,0,87541,2016-03-28 22:47:27
49329,20160323 22:54:50,Ford_Fiesta,privat,Angebot,950,test,kleinwagen,2002,manuell,60,fiesta,150.0,3,benzin,ford,ja,2016-03-23 00:00:00,0,59955,2016-04-06 17:46:10

The most popular value in the name column is Ford_Fiesta

In [55]:
top_df['unrepaired_damage'] = top_df['unrepaired_damage'].str.replace("ja","yes")

In [56]:
top_df['unrepaired_damage'] = top_df['unrepaired_damage'].str.replace("nein","no")

In [63]:
damage_ford_mean_price = top_df[top_df['unrepaired_damage'] == "yes"]['price'].mean()
damage_ford_mean_price

np.float64(1033.7777777777778)

In [64]:
no_damage_ford_mean_price = top_df[top_df['unrepaired_damage'] == "no"]['price'].mean()
no_damage_ford_mean_price

np.float64(1925.1666666666667)

In [66]:

difference_ford =  int(no_damage_ford_mean_price -damage_ford_mean_price)
difference_ford

891